<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <p style="margin-left: 700px;"><a href="/quotes">Back</a> <a href="/logout">Logout</a></p>
    <h1>Edit My Account</h1>
    <!-- entering validation messages before the form -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/edit/{{userInfo.id}}/update" method="post">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="form_first_name" id="first_name" value={{userInfo.first_name}}>
        <br>
        <br>
        <label for="last_name">Last Name</label>
        <input type="text" name="form_last_name" id="last_name" value={{userInfo.last_name}}>
        <br>
        <br>
        <label for="email">Email</label>
        <input type="text" name="form_email" id="email" value={{userInfo.email}}>
        <br>
        <br>
        <input type="submit" value="Update">
    </form>
</body>

</html>